<?xml version="1.0" encoding="UTF-8"?>
<!-- =====================================================================================
    
                        Holodeck B2B Logging Configuration   	

Holodeck B2B uses the Log4j v2 logging framework, see the Log4j website for more
information about configuration. When deploying in a production environment it is 
recommended to raise log levels to at least INFO.
===================================================================================== -->
<Configuration status="warn" monitorInterval="30" shutdownHook="disable">
  
    <Appenders>        
        <!-- 
            The main log file for all Holodeck B2B related logging 
        -->
        <File name="holodeckb2b-main" fileName="logs/holodeckb2b.log">
            <PatternLayout>
                <Pattern>%d (%t)[%-5p] %c - %m%n</Pattern>
            </PatternLayout>
        </File>        
        <!--
            Log file for received ebMS errors
        -->
        <File name="ebmsErrors" fileName="logs/ebms_errors.log">
            <PatternLayout>
                <Pattern>%d [%c{2}]- %m%n</Pattern>
            </PatternLayout>
        </File>        
        <!--
            Log file for the SOAP Envelopes of outgoing messages.
        -->        
        <File name="soapout" fileName="logs/soap_out.log">
            <PatternLayout>
                <Pattern>[%d] %m%n</Pattern>
            </PatternLayout>
        </File>        
        <!--
            Log file for the SOAP Envelopes of received messages.
        -->        
        <File name="soapin" fileName="logs/soap_in.log">
            <PatternLayout>
                <Pattern>[%d] %m%n</Pattern>
            </PatternLayout>
        </File>        
    </Appenders>
    <Loggers>
        <!--
            Everything with level ERROR or higher will be logged
        -->
        <Root level="ERROR">
            <AppenderRef ref="holodeckb2b-main"/>
        </Root>        

        <!--
            Default log level for Holodeck B2B is set to ALL so
            messaging processing can be followed in detail. 
            When deploying in production it is RECOMMENDED to 
            raise log level to at least INFO.
        -->
        <Logger name="org.holodeckb2b" level="ALL" />        
        <!-- Some logging of often recurring tasks is already 
            reduced to prevent clutter         
        -->
        <Logger name="org.holodeckb2b.core.workerpool" level="INFO"/>
        <Logger name="org.holodeckb2b.core.workers" level="WARN"/>
        <Logger name="org.holodeckb2b.core.receptionawareness.RetransmissionWorker" level="INFO"/>        
        <Logger name="org.holodeckb2b.common.events.SyncEventProcessor" level="WARN"/>
        <Logger name="org.holodeckb2b.common.pmode.PModeWatcher" level="WARN"/>
        <Logger name="org.holodeckb2b.backend.file.SubmitOperation" level="INFO"/>        
        <Logger name="org.holodeckb2b.ebms3.pulling" level="WARN"/>
        
        <!--
            SOAP Envelope logging
            
        The next two logs are used to log the SOAP envelopes of sent and received 
        messages. To enable set the log level to INFO, to disable set to OFF.
        -->
        <Logger name="org.holodeckb2b.msgproc.soapenvlog.IN" 
                level="INFO" additivity="false">
            <AppenderRef ref="soapin"/>
        </Logger>
        <Logger name="org.holodeckb2b.msgproc.soapenvlog.OUT" 
            level="INFO" additivity="false">
            <AppenderRef ref="soapout"/>
        </Logger>
        
        <!--
            Logging of received ebMS Errors

        Holodeck B2B will by default log all received ebMS Errors Signals to
        this log. This is independent from the notification to the business
        application which is configured in the P-Mode of the message in error.

        To disable this log, set the log level to OFF. To enable set it to
        WARN to log all Error Signals or set it to ERROR to log only Error
        Signals that contain a error with severity FAILURE.

        The ERROR log level is RECOMMENDED in case pulling is used to receive
        messages as each "empty MPC" response will otherwise create a new
        log entry.
        -->
        <Logger name="org.holodeckb2b.msgproc.errors"
            level="WARN" additivity="false">
            <AppenderRef ref="ebmsErrors"/>
        </Logger>        
    </Loggers>
</Configuration>